/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.lr-card-wrapper {
  padding-top: 30px;
}
.lr-card {
  background-color: #fff;
  border-radius: 60px;
  padding-bottom: 20px;
}
.card-wrapper-container {
  margin: 30px;
}

.card-wrapper {
  display: flex;
  gap: 12px;
  background: #f4f4f4;
  border-radius: 12px;
  padding: 30px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}
.card-wrapper::-webkit-scrollbar {
  height: 8px;
}
.card-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.card-wrapper::-webkit-scrollbar-thumb {
  background: #70a2ab;
  border-radius: 25px;
}
.card-wrapper::-webkit-scrollbar-thumb:hover {
  background: #003150;
}

.lr-card .card {
  flex: 0 0 30%;
  font-family: "Poppins", sans-serif;
  padding: 10px 20px;
  border-radius: 1.5rem;
  background: #fff;
  scroll-snap-align: start;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
}
.lr-card .card:hover {
  cursor: pointer;
  background-color: #aae3ed;
}
.lr-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lr-card .card .image {
  height: 96px;
  width: 96px;
  padding: 4px;
}
.lr-card .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lr-card .card h2 {
  margin: 10px;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  text-align: center;
}
.lr-card .card p {
  font-weight: 400;
  color: #333;
  text-align: justify;
}
@media screen and (max-width: 768px) {
  .card-wrapper-container {
    margin: 15px;
  }
  .card-wrapper {
    padding: 0;
    gap: 0;
  }
  .card {
    flex: 0 0 70% !important;
    margin: 10px;
  }
  .lr-card .card .image {
    height: 64px;
    width: 64px;
    padding: 4px;
  }
  .lr-card .card h2 {
    font-size: 1rem;
  }
  .lr-card .card p {
    font-size: 14px;
  }
}
