.vocabulary-topic-wrapper {
  height: auto;
  padding-top: 20px;
}
.vocabulary-topic {
  background-color: #fff;
  border-radius: 4rem;
}
.wrapper {
  padding: 2rem;
}
.gridview {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}
.item {
  display: flex;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid #d7d7d7;
  padding: 20px;
  border-radius: 1rem;
}
.title {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: large;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.item:hover {
  cursor: pointer;
  background-color: #aae6edad;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 22px;
  font-weight: 600;
}

.description {
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 5px;

}

.author, 
.quantity, 
.createdate, .label {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 5px;
}
