/* -----------Test Index------- */

.test-index-wrapper {
  background-color: #fff;
  margin: 50px;
}
.test-index-wrapper .container{
  margin: 0;
}

.test-wrapper {
  height: auto;
  padding-top: 20px;
}
.test-list {
  background-color: #fff;
  border-radius: 4rem;
}
.test-list .test-grid-wrapper {
  padding: 2rem;
}
.test-list .test-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}
.test-list .test-item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3);
  border: 1px solid #d7d7d7;
  padding: 20px;
  border-radius: 1rem;
}
.test-list .test-item:hover {
  cursor: pointer;
  background-color: #aae6edad;
}
.test-list img {
  width: 96px;
  height: 96px;
}
.test-list .test-title {
  width: 100%;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
  font-size: large;
  font-weight: 600;
  text-align: center;
}
.test-list .test-info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.test-list .test-info-title {
  font-weight: 700;
  color: #505050;
  font-style: italic;
}
.test-list .test-info-item {
  color: #505050;
}
