.test-container {
  background-color: white;
  margin: 50px;
}
/* ---------Tab Header----- */
.tab-header {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem;
}
.tab-item {
  min-width: 100px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #003150;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.5s ease;
  border-color: rgba(0, 49, 80, 0.7);
}
.tab-item:hover {
  opacity: 1;
  background-color: rgba(0, 49, 80, 0.1);
}
.tab-index-active {
  opacity: 1;
  background-color: rgba(0, 49, 80, 0.3);
  border-color: rgba(0, 49, 80, 1);
}

/* ---------Tab Content-------- */

.tab-content {
  padding: 1.5rem 1rem;
  font-size: 1rem;
}
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.test-unit-wrapper {
  display: flex;
  gap: 1.5rem;
  margin: 2rem 0;
}
/* --------Left-side Content Include paragraph, image */
.test-unit-left {
  width: 65%;
  min-width: 65%;
}
.test-paragraph {
  padding: 0.5rem;
  text-align: justify;
  max-height: 350px;
  overflow-x: auto;
}
.test-paragraph::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.test-paragraph::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.test-paragraph::-webkit-scrollbar-thumb {
  background: #70a2ab;
  border-radius: 25px;
}
.test-paragraph::-webkit-scrollbar-thumb:hover {
  background: #003150;
}
.test-img {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.test-img img {
  max-width: 50vw;
  min-width: 30vw;
}
/* -------- Right-side Content include question and answer choice -----------*/
.test-question {
  display: flex;
  margin: 1rem 0;
}
.test-question-number {
  margin-right: 0.5rem;
  max-width: 35px;
  min-width: 35px;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 49, 80, 0.3);
  border-radius: 50%;
  line-height: 35px;
  text-align: center;
  font-weight: 500;
}
.test-choice-wrapper {
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.question-button {
  display: flex;
  justify-content: space-around;
}
.test-choice-option {
  display: flex;
  align-items: center;
}
.test-choice-option input {
  margin-right: 2px;
}
.next-button,
.previous-button {
  padding: 10px;
  width: 9rem;
  border: none;
  background-color: #276272;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px rgb(127, 109, 109);
  font-size: large;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  transition: 0.2s;
}
.countdown-clock {
  position: fixed;
  left: 0;
  top: 50%;
  width: fit-content;
  padding: 10px 15px;
  background-color: aquamarine;
  border-radius: 0 2rem 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  z-index: 5;
}
