.lesson-main {
  display: flex;
  gap: 2rem;
  margin: 0 40px 40px 40px;
}

/* ---------RIGHT---------- */
.lesson-right-row {
  width: 72%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.lesson-content-wrapper {
  height: auto;
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
}
.lesson-right-row .lesson-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.lesson-title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lesson-title-wrapper hr {
  width: 50%;
}
.lesson-content {
  margin: 1.5rem 0.5rem;
  height: 300px;
  text-align: justify;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: auto;
}
.lesson-content::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.lesson-content::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.lesson-content::-webkit-scrollbar-thumb {
  background: #70a2ab;
  border-radius: 25px;
}
.lesson-content::-webkit-scrollbar-thumb:hover {
  background: #003150;
}
.lesson-quiz-main {
  height: auto;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}
/* ----------LEFT---------- */
.lesson-left-row {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 1rem;
}
.lesson-left-row hr {
  width: 75%;
}
.dividing-line {
  display: flex;
  justify-content: center;
}
.other-lessons {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  overflow: auto;
}
.other-lessons::-webkit-scrollbar {
  width: 5px;
}
.other-lessons::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.other-lessons::-webkit-scrollbar-thumb {
  background: #70a2ab;
  border-radius: 25px;
}
.other-lessons::-webkit-scrollbar-thumb:hover {
  background: #003150;
}
.lesson-quiz-list::-webkit-scrollbar {
  width: 5px;
}
.lesson-quiz-list::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 25px;
}
.lesson-quiz-list::-webkit-scrollbar-thumb {
  background: #70a2ab;
  border-radius: 25px;
}
.lesson-quiz-list::-webkit-scrollbar-thumb:hover {
  background: #003150;
}
.lesson-left-row-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.other-lessons-item {
  margin: 0 5px;
  padding: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.other-lessons-item:hover {
  cursor: pointer;
  transform: translateZ(2px);
  box-shadow: 0 4px 6px #7f7f7f;
}
.other-lesson-title {
  width: 340px;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lesson-quiz-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
  max-height: 150px;
  overflow: auto;
  padding-right: 5px;
}
.lesson-quiz-item {
  padding: 10px;
  background-color: #fff;
  border-radius: 0.5rem;
  border: 2px solid #000;
}
.lesson-quiz-current {
  background: #70a2ab;
  color: #fff;
}
.lesson-quiz-item:hover {
  cursor: pointer;
  border: 2px solid #70a2ab;
  font-weight: 500;
}

@media (max-width: 600px) {
  .lesson-quiz-list {
    grid-template-columns: 1fr;
  }
}
