.login-success-wrapper {
  margin: 40px;
  //   background-color: #95d7e3;
  .login-success-bg {
    height: 30rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
